h1 {
    text-align: center;
}

table {
    margin: auto;
    border-spacing: 0px;
}

table, th, td {
    border: .5px solid black;
}

th, td {
    padding: 20px;
}

thead {
    background-color: aquamarine;
}