html {
  font-size: 10pt;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header,
footer {
  margin-top: 37px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

main {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  border-top: solid;
  border-bottom: solid;
  text-align: justify;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

footer {
  text-align: center;
  font-size: smaller;
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}
